In [1]:
# Import pandas libary abbreviated as pd
import pandas as pd
# Stop pandas from abbreviating tables to fit in the notebook
pd.options.display.max_columns = 1000
pd.options.display.max_rows = 1000
# Display graphs in the notebook
%matplotlib inline

In [3]:
# read in our csv file, and automatically change missing values into NaN
pay = pd.read_csv('ks2-results.csv', na_values = ['.',' '])
# Use the head function to see the first few rows
pay.head(100).set_index('Area').sort_values('Area')

,English Reading - Number of eligible pupils,English Reading - Percentage reaching the expected standard,English Reading - Percentage working at greater depth,English Writing - Number of eligible pupils,English Writing - Percentage reaching the expected standard,English Writing - Percentage working at greater depth,Mathematics - Number of eligible pupils,Mathematics - Percentage reaching the expected standard,Mathematics - Percentage working at greater depth,Science - Number of eligible pupils,Science - Percentage reaching the expected standard,Unnamed: 12
Area,,,,,,,,,,,,
Barking and Dagenham,3690,76,27,3690,69,17,3690,77,24,3690,82,NaN
Barnet,4343,78,27,4343,71,16,4343,77,23,4343,84,NaN
Bexley,3314,81,29,3314,75,19,3314,82,24,3314,86,NaN
Brent,3936,74,23,3936,68,15,3936,75,21,3936,80,NaN
Bromley,4053,80,31,4053,74,21,4053,80,26,4053,88,NaN
Camden,1628,74,24,1628,67,12,1628,75,21,1628,82,NaN
City of London,*,*,*,*,*,*,*,*,*,*,*,NaN
Croydon,4865,77,26,4865,69,16,4865,76,23,4865,85,NaN
Ealing,4608,75,21,4608,68,15,4608,75,20,4608,82,NaN
Enfield,4722,72,22,4722,65,14,4722,74,18,4722,77,NaN
Greenwich,3597,80,32,3597,76,24,3597,81,30,3597,85,NaN
Hackney,2763,80,29,2763,77,21,2763,81,25,2763,84,NaN
Hammersmith and Fulham,1472,79,27,1472,72,18,1472,79,23,1472,83,NaN
Haringey,3186,79,30,3186,74,20,3186,79,26,3186,84,NaN
Harrow,3238,78,25,3238,73,16,3238,78,25,3238,86,NaN
Havering,3071,77,24,3071,71,15,3071,77,19,3071,87,NaN
Hillingdon,4066,77,27,4066,70,18,4066,78,24,4066,83,NaN
Hounslow,3433,80,31,3433,74,23,3433,81,29,3433,86,NaN
Islington,2094,76,26,2094,71,17,2094,77,23,2094,79,NaN
Kensington and Chelsea,1008,82,28,1008,75,21,1008,82,28,1008,86,NaN
Kingston upon Thames,1957,80,29,1957,71,19,1957,80,24,1957,87,NaN
Lambeth,3177,79,29,3177,73,19,3177,79,24,3177,85,NaN
Lewisham,3747,80,25,3747,73,18,3747,78,22,3747,87,NaN
Merton,2529,77,30,2529,69,18,2529,78,25,2529,86,NaN
Newham,4916,78,27,4916,73,19,4916,80,26,4916,83,NaN
Redbridge,4226,79,32,4226,71,19,4226,79,26,4226,83,NaN
Richmond upon Thames,2533,83,36,2533,72,21,2533,82,28,2533,91,NaN
Southwark,3414,79,26,3414,73,16,3414,78,23,3414,83,NaN
Sutton,2543,78,27,2543,72,22,2543,79,25,2543,84,NaN
Tower Hamlets,3447,76,25,3447,72,17,3447,77,23,3447,81,NaN
Waltham Forest,3613,81,28,3613,75,20,3613,81,27,3613,85,NaN
Wandsworth,2864,82,32,2864,76,21,2864,81,26,2864,86,NaN
Westminster,1525,76,25,1525,70,19,1525,78,22,1525,82,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN